<footer>
<div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-xs-12 about-company">

          <p class="pr-5 text-white-50">Sign up for offers </p>
          <p> exclusive offers & discounts!</p>
          <p class="textHover">Online Store</p>
            <p class="textHover">Privacy Policy</p>
            <p class="textHover">Refund Policy</p>
            <p class="textHover">Track Order</p>
          
          
        </div>
        <div class="col-lg-3 col-xs-12 links">
          <h4 class="mt-lg-0 mt-sm-3">Links</h4>
            <ul class="m-0 p-0">
              <li> <a href="https://www.linkedin.com/in/mo-men-abdel-raouf-04194a204/" target="_blank"><i  class="fab fa-linkedin" style="font-size: 40px;"></i> </a></li>
              <li> <a href="https://github.com/MoamenZakariaMohamed" target="_blank"><i class="fab fa-github-square" style="font-size: 40px;"></i></a></li>
              
            </ul>
        </div>
        <div class="col-lg-4 col-xs-12 location">
          <h4 class="mt-lg-0 mt-sm-4">Location</h4>
          <p>Abbas Alakad,Nasr City,Cairo</p>
          <p class="mb-0"> <i class="fa fa-phone mr-3"></i>(20) 1001937893</p>
          <p> <i class="fa fa-envelope-o mr-3"></i>moamen_zakaria@yahoo.com</p>
        </div>
      </div>
    </div>
    </div>
</footer>